* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
}

/* ################################################ */
/*CONT GENERAL */
/* ################################################ */
.contenedor {
  display: flex;
}

.seccion-contactos {
  flex: 0.23;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
}

.seccion-mensajeria {
  background-color: #e3e3e3;
  flex: 0.77;
  align-items: center;
  justify-content: center;
}

/* ################################################ */
/* PARTE 1 - CONTACTOS*/
/* ################################################ */

.contactos-p1 {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a0a0a0;
}

.datos-usuario {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.img-usuario {
  width: 3.5rem;
  border-radius: 50%;
  transition: 0.3s;
}

.img-usuario:hover {
  transform: scale(1.05);
}

.nombre-usuario {
  font-size: 1.3rem;
  font-weight: 500;
}
.descripcion-usuario {
  color: #555;
  font-size: 0.9;
}
.iconos-contenedor {
  display: flex;
  gap: 1rem;
}

i {
  color: #555;
}

i:hover {
  transform: scale(1.05);
  color: #b3a9d9;
}

/* ################################################ */
/* PARTE 2 - CONTACTOS*/
/* ################################################ */

.contactos-p2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 3rem 0;
  border-right: 1px solid #a0a0a0;
  border-left: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
}

.button {
  color: #fff;
  background-color: #b3a9d9;
  font-size: 1.3rem;
  padding: 1.2rem 4.5rem 1.2rem 4.5rem;
  font-weight: 500;
  transition: 0.2s;
}

.button:hover {
  background-color: #67618c;
}

.button:focus {
  background-color: #907abf;
}

/* ################################################ */
/* PARTE 3 - CONTACTOS*/
/* ################################################ */

.contactos-p3 {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #a0a0a0;
  border-left: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
}
.datos-contacto:first-child {
  padding-top: 2rem;
}
.datos-contacto {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #a0a0a0;
  width: 100%;
}

.datos-contacto-contenedor {
  flex: 0 0 70%;
  align-self: center;
}
.img-container {
  flex: 0 0 10%;
}
.img-contacto {
  width: 4rem;
  border-radius: 50%;
}

.nombre-contacto {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
}
.descripcion-contacto {
  font-size: 0.9rem;
}

/* ################################################ */
/* SECCION MENSAJERIA*/
/* ################################################ */

.seccion-mensajeria {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.img-mensajeria {
  width: 20rem;
}

.mini-container-mensajeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.mini-container-mensajeria:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mensaje-grande {
  font-size: 3rem;
  padding-top: 1rem;
}

.mensaje-chico {
  font-size: 1.3rem;
  text-align: center;
}
